* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 15vh;
  min-height: 100vh;
  font-family: arial, sans-serif;
}

.header {
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  text-align: end;
  
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 10px 10px 0px 0px;
}

.nav-links {
  padding-right: 10px;
}

.nav-item {
  display: inline-block;
  padding: 0px 0px 0px 15px;
  text-decoration: none;
  color: #000000de;
}

.nav-links,
.languages{
  font-size: 13px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 580px;
}

.form-searchbox{
  position: relative;
  width: 100%;
  padding: 20px;
}

.search{
  width: 100%;
  padding: 10px 45px 10px 60px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
}

.searchbox-icons{
  position: absolute;
  top: 31px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 14px;
  padding-right: 65px;
}

.form-buttons{
  display: flex;
  justify-content: center;
  height: 70px;
}

.button{
  align-self: center;
  height: 36px;
  padding: 0px 16px;
  margin: 11px 4px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgb(248, 249, 250);
  background-color: rgb(248, 249, 250);
  color: rgb(60, 64, 67);
}

.languages{
  color: #222;
}

.link{
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
}
